.navbar{
    background: #ffffff;
    grid-area: nav;
    height: 60px;
    display:flex;
    margin-left: -100px;
    margin-bottom: -120px;
    align-items:center;
    justify-content:right;
    padding: 30px 30px 30px 30px;
    border-bottom: 5px solid lightgray;
    border-left: 2px solid royalblue;
    box-shadow: blue;
}

.akash{
    border-radius: 50%;
}

.nav_icon{
    display: none;
}

.navbar_right {
    margin-left: 1025px;
    text-decoration: none;
    display: inline-flex;
    align-items: left;
    color : #a5aaad;
    font-size: 16px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffff;
    padding: 7px;
}


 .user{
     margin-left: 8px;
     margin-right: 5px;
 }



